@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@300;400&display=swap');

:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --accent-color: pink;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
    overflow: hidden;
}

header {
    padding: 20px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    color: var(--text-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.9em;
}

.contact-btn {
    background-color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 25px;
}

#hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.red-circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    box-shadow: 0 0 100px var(--accent-color);
}

.glowing-circle {
    width: 300px;
    height: 300px;
    border-radius: 70%;
    background-color: var(--accent-color);
    position: absolute;
    z-index: -2;
    opacity: 100;
    /*filter: blur(20px);*/
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 4.5em;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

#hero p {
    font-size: 1em;
    margin: 5px 0;
    letter-spacing: 0.2em;
}

.location {
    font-size: 0.9em !important;
    opacity: 0.7;
}

.red-line {
    width: 60px;
    height: 2px;
    background-color: var(--accent-color);
    margin: 20px auto;
}

.cta-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 20px;
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: var(--accent-color);
}

.scroll-indicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    40% {
        transform: translateY(-20px) translateX(-50%);
    }
    60% {
        transform: translateY(-10px) translateX(-50%);
    }
}
